/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: #002452;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#009cde), to(#002452));
    background: -webkit-radial-gradient(#009cde, #002452);
    background:    -moz-radial-gradient(#009cde, #002452);
    background:     -ms-radial-gradient(#009cde, #002452);
    background:      -o-radial-gradient(#009cde, #002452);
    background:         radial-gradient(#009cde, #002452);
    color: #ffffff;
}

#logo {
    background: no-repeat transparent url('../logo_MM-white.svg');
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 250px;
    height: 50px;
    opacity: 0.5;
}

/*
    Now let's bring some text styles back ...
*/
h1 { font-size: 80px; }
h2 { font-size: 72px; }
h3 { font-size: 64px; }
h4 { font-size: 56px; }
b, strong { font-weight: bold }
i, em { font-style: italic }
q, blockquote {
    font-family: monospace;
    padding: 0 0.1em;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.2em;
}


/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    /*padding: 0 0.1em;
    background: rgba(255,255,255,0.7);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.1);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;*/
}

a:hover,
a:focus {
    /*background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);*/
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.6;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

#intro {
    text-align: center;
}

#question ol {
    list-style: decimal;
}

#question ol li {
    margin-left: 2em;
}

#hard a {
    font-size: 24px;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
